*{
    font-family: "Open Sans", Arial, Helvetica, sans-serif!important;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    height: 150vh;
}
.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}
.bg-darkgray{
    background-color: #383E4C;
}

.navbar-toggler .icon-bar{
    background-color: #FFF;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-inverse .navbar-nav li a.nav-link{
    border: 1px solid #646d7c;
    color: #fff;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.active{
    background-color: #49505F;
}

.navbar-nav li{
    padding: 10px;
    display: inline-block;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: space-around;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link .active{
    color: rgb(255, 255, 255,1);
}

@media only screen and (max-width: 767px){
    .navbar-toggler{
        background-color: #383E4C;
    }
    .navbar-nav li {
        width: 100%;
        border-bottom: 1px solid #999;
        padding: 0px;
    }
    .bg-darkgray{
        background-color: transparent;
    }
    .bg-darkgray-cell{
        background-color: #383E4C;
    }
    .navbar-inverse .navbar-nav li a {
        border: none;
        font-size: 16px;
        padding: 10px;
    }
    .navbar-nav li a{
        line-height: 20px;
    }
}